<p>Ciao <%= @resource.email %>!</p>

<p>E' stato richiesto il link per effettuare il cambio della tua password. Puoi effettuare questa operazione con il link sotto.</p>

<p><%= link_to 'Change my password', edit_user_password_url(@resource, :reset_password_token => @token) %></p>

<p>Se non avevi richiesto il cambio password ignora questa email.</p>
<p>La tua password non sara' cambiata finche' non accedi al link di sopra e specifichi una nuova password.</p>
